* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif !important;
}

html, body {
	font-family: 'Raleway', sans-serif;
	color: #777;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(75, 75, 75);
}

input {
	border: none !important;
	border-bottom: 1px solid #eee !important;
	box-shadow: none !important;
}

.container {
	margin: 0 auto;
	max-width: 768px;
}

.header {
	padding-left: 2em;
    padding-right: 2em;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
}

.header h1 {
	font-size: 300%;
	font-weight: 100;
	margin: 0;
}

.header h2 {
	font-size: 125%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    color: #666;
    letter-spacing: -0.02em;
}

.padding.one {
	padding: 1em;
}

.margin.top.two {
	margin-top: 2em;
}

.center.aligned {
	text-align: center;
}

.copyright {
    display:block;
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    background:#eee;
	font-size: .8em;
 }
