html {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
    overflow: hidden;
	margin: 0;
}

section {
	border: 1em solid white;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
